<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Only apps signed with the same (platform) key may bind the weather provider. -->
    <permission
        android:name="org.fundamentalos.weather.permission.BIND_WEATHER_PROVIDER"
        android:protectionLevel="signature" />

    <application
        android:enableOnBackInvokedCallback="true"
        android:allowBackup="true"
        android:name=".WeatherApplication"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Weather"
        android:usesCleartextTraffic="true"
        tools:targetApi="33">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Weather"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Cross-process weather source for same-signature system apps (ASI Alt). -->
        <service
            android:name=".ipc.WeatherProviderService"
            android:exported="true"
            android:permission="org.fundamentalos.weather.permission.BIND_WEATHER_PROVIDER">
            <intent-filter>
                <action android:name="org.fundamentalos.weather.ipc.IWeatherProvider" />
            </intent-filter>
        </service>
    </application>

</manifest>
